.Button {
  cursor: pointer;
  background-color: rgb(70, 64, 64);
  color: rgb(64, 197, 135);
  padding: 5px 5px;
  height: 40px;
  border-radius: 5px;
  border: black;
  text-align: center;
  border-style: solid;
  border-width: thin;
  margin: 10 px 10px;
  font-size: 0.9rem;
  width: 120px;
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: bold;
}

.Button:hover,
.Button:active {
  background-color: rgb(229, 235, 238);
  color: black;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .Button {
    width: 130px;
    height: 40px;
    margin: 10 px 10px;
  }
}

@media (min-width: 1001px) {
  .Button {
    width: 150px;
    height: 40px;
    margin: 10 px 10px;
  }
}
